<app-home></app-home>

<hr>
<h3 class="mt-3 mb-2">
    Create a new reservation
</h3>

<!-- [formGroup] Directive: It is used to bind a FormGroup instance to a DOM element. -->
<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Check in Date: </label>
            <input class="form-control" type="date" formControlName="checkInDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                Check in date is required.
            </small>
        </div>

        <div class="col">
            <label class="form-label">Check out Date: </label>
            <input class="form-control" type="date" formControlName="checkOutDate">
            <small class="text-danger" *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
                Check out date is required.
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label class="form-label">Guest Name: </label>
            <input class="form-control" type="text" formControlName="guestName">
            <small class="text-danger" *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
                Guest Name is required.
            </small>
        </div>
    
        <div class="col">
            <label class="form-label">Guest Email: </label>
            <input class="form-control" type="email" formControlName="guestEmail">
            <small class="text-danger" *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
                Guest Email is required.
            </small>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <label class="form-label">Room Number: </label>
            <input class="form-control" type="number" formControlName="roomNumber">
            <small class="text-danger" *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
                Room Number is required.
            </small>
        </div>
    </div>

   <!-- The disabled attribute is used to disable the submit button if the form is invalid. -->
    <button class="btn btn-primary" type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>